<md-card layout="column" flex="20">
    <md-card-title>
        <md-card-title-text>
            <h3>Add Investment</h3>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-input-container>
            <label>Name</label>
            <input type="text" ng-model="investment.name">
        </md-input-container>
        <md-input-container>
            <label>Amount</label>
            <input type="text" ng-model="investment.amount">
        </md-input-container>
        <md-input-container>
            <md-select ng-model="investment.type" placeholder="Select a type">
                <md-option ng-value="type" ng-repeat="type in investmentTypes">{{type}}</md-option>
            </md-select>
        </md-input-container>
        <md-calendar md-placeholder="Start Date" ng-model="myDate"></md-calendar>
        <md-input-container>
            <label>Duration</label>
            <input type="number" ng-model="investment.duration"/>
        </md-input-container>
    </md-card-content>
    <md-card-actions>
        <md-button ng-click="create()" class="md-accent md-raised">Save</md-button>
    </md-card-actions>
</md-card>