<div layout="row">
    <md-content class="app-common-margin" md-theme="docs-dark" layout="column" flex="30" layout-padding>
        <div layout="row">
          <md-input-container flex="50" class="md-default md-block">
            <label>Type</label>
            <md-select id="qa-type" ng-model="bill.billType">
              <md-option ng-repeat="type in billingTypes" ng-value="type">{{type}}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex="auto" class="md-default md-block">
            <label>Frequency</label>
            <md-select id="qa-frequency" ng-model="bill.frequency">
              <md-option ng-repeat="type in frequencies" ng-value="type">{{type}}</md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container class="md-default md-block">
          <label>Notes</label>
          <textarea ng-model="bill.notes" rows="3" cols="80"></textarea>
        </md-input-container>
        <md-input-container class="md-default md-block">
          <label>Date</label>
          <input id="qa-billingDate" ng-model="bill.billDate"/>
        </md-input-container>
      <md-card-actions layout="row" layout-align="end center">
        <md-button id="qa-add-item" ng-click="reset()" class="md-raised md-primary" aria-label="View">RESET</md-button>
        <md-button ng-if="!editing" id="qa-add-item" ng-click="save()" class="md-raised md-primary" aria-label="View">SAVE</md-button>
        <md-button ng-if="editing" id="qa-update-item" ng-click="update()" class="md-raised md-primary" aria-label="update">Update</md-button>
      </md-card-actions>
      <div ng-if="message != undefined" layout="row">{{message}}</div>
    </md-content>
    <table class="app-table" flex="70" layout-sm="col">
      <thead>
        <tr layout-md="row">
          <th flex="10">Sr.No</th>
          <th flex="20">Notes</th>
          <th flex="10">Type</th>
          <th flex="25">Frequency</th>
          <th flex="25">Date</th>
          <th flex="10">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr layout-md="row" ng-repeat="bill in bills">
          <td flex="10">{{$index+1}}</td>
          <td flex="20">{{bill.notes}}</td>
          <td flex="20">{{bill.billType}}</td>
          <td flex="20">{{bill.frequency}}</td>
          <td flex="20">{{bill.billDate|date:'dd-MMM-yyyy'}}</td>
          <td flex="10">
            <span class="app-link" ng-click="edit(bill)">Edit</span>
            <span class="app-link" ng-click="delete(bill)">Delete</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr layout-md="row">
          <th class="currency-col" colspan="4">Average Total</th>
          <th class="currency-col" colspan="1"style="padding-right:15px;">{{summary.total|currency:'₹'}}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
</div>
