<div layout="row">
    <md-content class="app-common-margin" md-theme="docs-dark" layout="column" flex="30" layout-padding>
      <md-input-container class="md-default md-block">
        <label>Bills</label>
        <md-select id="qa-bill" ng-model="payment.billId">
          <md-option ng-repeat="item in bills" ng-value="item.id">{{item.notes}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-default md-block">
          <label>Date</label>
          <input id="qa-date" ng-model="payment.paymentDate"/>
      </md-input-container>
      <md-input-container class="md-default md-block">
          <label>Amount</label>
          <input id="qa-amount" ng-model="payment.amount"/>
      </md-input-container>
      <md-input-container class="md-default md-block">
          <label>Is Paid</label>
          <md-select id="qa-amount" ng-model="payment.paid">
            <md-option ng-value="true">PAID</md-option>
            <md-option ng-value="false">UNPAID</md-option>
          </md-select>
      </md-input-container>
      <md-card-actions layout="row" layout-align="end center">
        <md-button id="qa-add-item" ng-click="reset()" class="md-raised md-primary" aria-label="View">RESET</md-button>
        <md-button ng-if="!editing" id="qa-add-item" ng-click="save()" class="md-raised md-primary" aria-label="View">SAVE</md-button>
        <md-button ng-if="editing" id="qa-update-item" ng-click="update()" class="md-raised md-primary" aria-label="update">Update</md-button>
      </md-card-actions>
      <div ng-if="message != undefined" layout="row">{{message}}</div>
    </md-content>
    <table class="app-table" flex="70" layout-sm="col">
      <thead>
        <tr layout-md="row">
          <th flex="10">Sr.No</th>
          <th flex="25">Bill</th>
          <th flex="20">Date</th>
          <th flex="10">Amount</th>
          <th flex="25">IsPaid</th>
          <th flex="10">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr layout-md="row" ng-repeat="payment in payments">
          <td flex="10">{{$index+1}}</td>
          <td flex="25">{{payment.billName}}</td>
          <td flex="20">{{payment.paymentDate|date:'dd-MMM-yyyy'}}</td>
          <td flex="10">{{payment.amount}}</td>
          <td flex="25">{{payment.paid}}</td>
          <td flex="10">
            <span class="app-link" ng-click="edit(payment)">Edit</span>
            <span class="app-link" ng-click="delete(payment)">Delete</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr layout-md="row">
          <th colspan="4">Total</th>
          <th class="currency-col" colspan="1"style="padding-right:15px;">{{summary.total|currency:'₹'}}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
</div>
