<div layout="row">
    <md-content class="app-common-margin" md-theme="docs-dark" layout="column" flex="30" layout-padding>
        <md-input-container class="md-default md-block">
          <label>Type</label>
          <input id="qa-type" ng-model="billing.billType"/>
        </md-input-container>
        <md-input-container class="md-default md-block">
          <label>Frequency</label>
          <input id="qa-frequency" ng-model="billing.frequency"></input>
        </md-input-container>
        <md-input-container class="md-default md-block">
          <label>Date</label>
          <input id="qa-billingDate" ng-model="billing.billingDate"/>
        </md-input-container>
      <md-card-actions layout="row" layout-align="end center">
        <md-button id="qa-add-item" ng-click="reset()" class="md-raised md-primary" aria-label="View">RESET</md-button>
        <md-button id="qa-add-item" ng-click="save()" class="md-raised md-primary" aria-label="View">SAVE</md-button>
      </md-card-actions>
      <div ng-if="message != undefined" layout="row">{{message}}</div>
    </md-content>
    <table class="app-table" flex="66" layout-sm="col">
      <thead>
        <tr layout-md="row">
          <th flex="10">Sr.No</th>
          <th flex="20">From Account</th>
          <th flex="20">Recipient</th>
          <th flex="20">Mode</th>
          <th class="currency-col" flex="20">Amount</th>
          <th flex="10">Date</th>
          <th flex="10">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr layout-md="row" ng-repeat="payment in summary.items">
          <td flex="20">{{$index+1}}</td>
          <td flex="20">{{payment.fromAccount}}</td>
          <td flex="20">{{payment.recipient}}</td>
          <td flex="20">{{payment.mode|uppercase}}</td>
          <td class="currency-col" flex="20">{{payment.amount|currency:'₹':2}}</td>
          <td flex="10">{{payment.date|date:'dd-MMM-yyyy'}}</td>
          <td flex="10">
            <span class="app-link" ng-click="edit(payment)">Edit</span>
            <span class="app-link" ng-click="delete(payment)">Delete</span></td>
        </tr>
      </tbody>
      <tfoot>
        <tr layout-md="row">
          <th colspan="4">Total</th>
          <th class="currency-col" colspan="1"style="padding-right:15px;">{{summary.total|currency:'₹'}}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
</div>
