<div class="body-container" layout="row">
  <div flex-xs flex-gt-xs="20" layout="column" ng-repeat="bill in bills">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{bill.notes}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <img style="width:100px;margin:50px;" ng-src="images/{{bill.notes}}.jpg" class="md-card-image" alt="Washed Out"  width="400">
        <p class="{{bill.status|lowercase}}">{{bill.status}}</p>
      </md-card-content>
    </md-card>
  </div>
</div>
