<div class="body-container">
  <h2>Status of the bills</h2>
</div>
<!-- <div class="body-container" layout="row">
  <div flex-xs flex-gt-xs="25" layout="column">
    <md-card>
      <img ng-src="images/Payment.jpg" class="md-card-image" alt="Washed Out"  width="400">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Payment</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>My bills to be paid</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>View</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div> -->
