<div class="body-container" layout="row">
  <div flex-xs flex-gt-xs="20" layout="column">
    <md-card>
      <img ng-src="images/Payment.jpg" class="md-card-image" alt="Washed Out" width="50">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Add Bill</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Add new entries in the system here</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>View</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
