@CHARSET "UTF-8";

.home-dash-table{
  width: 60%;
}

.home-dash-table thead th,tbody td{
  text-align: left;
  padding-left: 10px;
}

.body-container{
  padding: 20px;
}

.month{
  font-size: 50% !important;
}

.brand-logo{
  margin-left:3.5%;
  color:#00796b;
}

.md-card>img{
  width: 80%;
}
