<div class="body-container" layout="row">
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <img ng-src="images/KumarPalmcrest.jpg" class="md-card-image" alt="Washed Out"  width="400">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Kumar Palmcrest</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>My family home</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>View Details</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex-xs flex-gt-xs="50" layout="column">
    <md-card>
      <img ng-src="images/LifeRepublic.jpg" class="md-card-image" alt="Washed Out">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Life Republic</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>My first home</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button>View Details</md-button>
      </md-card-actions>
    </md-card>
  </div>
</div>
