<div layout="col">
  <md-card flex="20" ng-repeat="page in childPages">
    <img ng-src="{{page.imagePath}}" class="md-card-image" alt="No Image">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{page.title}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>{{page.description}}</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="navigateTo(page.link)" class="md-raise md-primary" aria-label="View">View</md-button>
    </md-card-actions>
  </md-card>
</div>
